#blok1 { /*OPMAAK HOOFDTITELS*/
    position: absolute;
    top:5px;
    left:38px;
    text-align: black;
   
}

.menu { /*OPMAAK NAVIGATIE*/
    display: block;
    text-align: center;
    color: black;
    background-color: pink;
    padding: 8px;
    margin:10px;
    text-decoration: none;
}

a.menu:hover {
	color: pink;
	background-color: pink;
	border: solid 5px;
}


#blok3 { /*OPMAAK TEKST*/
    position: absolute;
    text-decoration: none;
    font-family: "candara";
}

#blok4 { /*OPMAAK ONDERAAN FOOTER*/
	display: block;
    text-align: center;
    color: black;
	background-color: none;
	top: 500px;
}

#blok5 { /*OPMAAK NAIVGATIE ROZE KADERTJES*/
	position: absolute;
    top: 55px;
    left: 10px;
    height: 500px;
    width: 180px;
}

body {
	font-family: "candara";
}

#blok6 { /*GROTE ROZE KADER*/
	display: block;
	color: black;
    background-color: pink;
    text-decoration: none;
	top: 65px;
	width: 1100px;
	height:550px;
	left:200px;
	position: absolute;
}

body{
	background-image: url("indexachtergrond.jpg");
}

#blok7 { /*OPMAAK TEKST OVERMEZELF.HTML*/
    text-decoration: none;
    font-family: "candara";
	top: 0px;
	left:10px;
}

#blok8 { /*GROTE ROZE KADER PAGINA NAGELSTUDIO.HTML*/
	display: block;
	color: black;
    background-color: pink;
    text-decoration: none;
	top: 65px;
	width: 1100px;
	height:875px;
	left:200px;
	position: absolute;
}

#blok9 { /*GROTE ROZE KADER PAGINA NAGELSTUDIO.HTML*/
	top: 165px;
	width: 1100px;
	height:875px;
	left:20px;
}

#blok10 { /*OPMAAK FOTO KLJKRUISHOUTEM*/
	top:250px;
	left:800px;
	position: absolute;
}

#blok11 { /*OPMAAK FOTO TOEKOMST*/
	top:400px;
	left:950px;
	position: absolute;
}

#blok12 { /*OPMAAK FOTO MEZELF1*/
	top:265px;
	left:200px;
	position: absolute;
}

#blok13 { /*OPMAAK FOTO VRIENDEN1*/
	top:265px;
	left:400px;
	position: absolute;
}

#blok14 { /*OPMAAK FOTO MOUCH1*/
	top:65px;
	left:500px;
	position: absolute;
}

#blok15 { /*OPMAAK FOTO OPA*/
	top:65px;
	left:650px;
	position: absolute;
}

#blok16 { /*OPMAAK FOTO VRIENDEN2*/
	top:65px;
	left:950px;
	position: absolute;
}

#blok17 { /*OPMAAK FOTO MEZELF3*/
	top:265px;
	left:800px;
	position: absolute;
}

#blok18 { /*GROTE ROZE KADER FOTOS.HTML*/
	display: block;
	color: black;
    background-color: pink;
    text-decoration: none;
	top: 65px;
	width: 1100px;
	height:2180px;
	left:200px;
	position: absolute;
}

#blok19 { /*OPMAAK FOTO MEZELF3*/
	top:515px;
	left:200px;
	position: absolute;
}

#blok20 { /*OPMAAK FOTO MEZELF*/
	top:515px;
	left:500px;
	position: absolute;
}

#blok21 { /*OPMAAK FOTO PRENTJE SPORT.HTML*/
	top:100px;
	left:950px;
	position: absolute;
}

#blok22 { /*OPMAAK FOTO NAGELSTUDIO.HTML*/
	top:275px;
	left:880px;
	position: absolute;
}

#blok23 { /*OPMAAK FOTO MUZIEK.HTML*/
	top:275px;
	left:1000px;
	position: absolute;
}

#blok24 { /*OPMAAK FOTO VRIENDEN4*/
	top:615px;
	left:800px;
	position: absolute;
}

#blok25 { /*OPMAAK FOTO VRIENDEN8*/
	top:850px;
	left:200px;
	position: absolute;
}

#blok26 { /*OPMAAK FOTO MOUCH4*/
	top:900px;
	left:500px;
	position: absolute;
}

#blok27 { /*OPMAAK FOTO OPA2*/
	top:900px;
	left:800px;
	position: absolute;
}

#blok28 { /*OPMAAK FOTO OPA2*/
	top:1250px;
	left:200px;
	position: absolute;
}

#blok29 { /*OPMAAK FOTO VRIENDEN3*/
	top:1250px;
	left:660px;
	position: absolute;
}

#blok30 { /*OPMAAK FOTO MOUCH3*/
	top:1250px;
	left:910px;
	position: absolute;
}

#blok31 { /*OPMAAK FOTO MEZELF2*/
	top:1600px;
	left:200px;
	position: absolute;
}

#blok32 { /*OPMAAK FOTO PAPA*/
	top:1600px;
	left:570px;
	position: absolute;
}

#blok33 { /*OPMAAK FOTO KAMP*/
	top:2020px;
	left:200px;
	position: absolute;
}

#blok34 { /*OPMAAK FOTO MOUCH6*/
	top:2000px;
	left:200px;
	position: absolute;
}

#blok35 { /*FOTO SPEELPLEIN IN HOBBY.HTML*/
	top:250px;
	left:750px;
	position: absolute
}

#blok36 { /*OPMAAK FOTO VRIENDEN6*/
	top:1850px;
	left:570px;
	position: absolute;
}

#blok37 { /*OPMAAK FOTO MOUCH5*/
	top:1750px;
	left:940px;
	position: absolute;
}

#blok38 { /*OPMAAK FOTO MOUCH5*/
	top:350px;
	left:950px;
	position: absolute;
}

#blok39 { /*OPMAAK FOTO YOUTUBELOGO IN GRAPPIGFRAGMENT.HTML*/
	top:50px;
	left:-150px;
	position: absolute;
}